*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.svd
*.suo
*.user
*.booproj
*.unitypackage

/Library
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
ExportedObj/
Temp/

.vscode/

*~
*.swp
*.Trashes

ehthumbs.db
Thumbs.db

.DS_Store
.DS_Store?
