stages:
  - trigger

trigger::trigger-downstream:
  stage: trigger

  rules:
    - if: $CI_COMMIT_BRANCH == "4.9.1-rc1"
      when: manual
      allow_failure: false

  variables:
    UPSTREAM_COMMIT_BRANCH: $CI_COMMIT_BRANCH 
    UPSTREAM_COMMIT_REPOSITORY: $CI_REPOSITORY_URL 

  trigger:
    project: xr/integrations/unity/ci/unityplugin-ci
    branch: windows/rc
    strategy: depend
    