
/* =========
 * Top Level
 * =========
 */

:root {
  /* Color palette. */
  --dark:         #141414;
  --leap-green:   #5da800;
  --dark-green:   #4e850f;
  --less-light:   #bfbfbf;
  --medium-gray:  #dddddd;
  --light:        #e8e8e8;
  --very-light:   #fefefe;

  --header-bg:    #272b32;
  --navtree-bg:   var(--medium-gray);
  --body-bg:      var(--very-light);
  --content-bg:   var(--very-light);
  --search-bg:    var(--light);

  --link-color:   var(--leap-green);
  --border-color: #cecece;
  --member-header-bg: var(--body-bg);

  /* Fonts. */ 
  --title-font-family: 'Roboto Slab';
  --main-font-family: 'Lato';
  --backup-font-family: sans-serif;

  /* Basic layout parameters. */
  --sidebar-width: 330px;
}

body, table, div, p, dl {
  font-family: var(--main-font-family), var(--backup-font-family) !important;
  color: var(--dark);
}

a, a.el {
  color: var(--link-color) !important;
}

.title {
	font-family: var(--title-font-family), serif !important;
	font-size: 22px;
	color: #2c2c2c;
}

h1 {
	font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font-family), serif;
  margin-top: 2em;
  margin-bottom: 1em;
	color: #404040;
}

ul {
	padding-left: 2em;
}

p, li {
	font-size: 16px;
	font-weight: normal;
	color: #404040;
	line-height: 24px;
}

/* Prevent big images from falling off the page. */
.image img {
	max-width: 60em;
}

/* ====
 * Code
 * ====
 *
 * Inline code and code fragments.
 */

code {
  font-family: monospace;
	display: inline;
	background-color: #e7e7e7;
	border-radius: 0.2em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	color: #333;
}
a.code, a.code:visited, a.line, a.line:visited {
	color: #4665A2;
}
div.line {
  font-family: monospace, fixed !important;
  font-size: 14px;
}

/* ======
 * Header
 * ======
 *
 * Logo, project name, version number, search bar.
 */

#top {
  background-color: var(--header-bg);
  color: var(--search-bg);
  /*font-family: var(--main-font-family);*/

  /* Make the header flush with the sidebar so it takes up less space. */
  float: left;
  width: var(--sidebar-width);
}

/* Remove the bottom-border line on the header section. */
#titlearea {
  border-bottom: none;
}

/* Make the header "table" stack each table entry vertically. */
#titlearea table tbody tr td {
  display: block;
}

/* Make the header "table" fill the whole titlearea div in width. */
#titlearea table {
  width: 100%
}

/* Give the Leap Motion logo vertically-centering margins. */
#projectlogo img {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Remove doxygen 0.5em padding-left on project summary */
#projectalign {
  padding-left: 0em !important;
}

/* Override style for the project name. */
#projectname {
  font: inherit !important;
  font-family: var(--main-font-family) !important;
  font-size: 24pt !important;
  text-align: center;
  color: var(--light);
}

/* Override style for the project brief. */
#projectbrief {
  font: inherit !important;
  font-family: var(--main-font-family) !important;
  font-size: 12pt !important;
  text-align: center;
  margin-top: 0.25em;
  color: var(--less-light);
}

/* Override style for the project version. */
#projectnumber {
  font: inherit !important;
  font-family: var(--main-font-family) !important;
  font-size: 16pt !important;
  text-align: center;
  margin-top: 0.25em;
  color: var(--leap-green);
  margin-bottom: 0.5em;
}

/* Override style for searchbar section. */
#searchbar {
  
}
#MSearchBox { /* Override doxygen defaults. */
  position: inherit !important;
  /* float: none !important;
  margin-top: 0px !important;
  right: inherit !important;
  width: inherit !important;
  background-color: inherit !important;
  padding-top: inherit !important;
  padding-bottom: inherit !important; */
}
#MSearchBox .left {
  /* The "left" span of the search box actually contains the search input,
   * so we can't just hide it. */
  display: block;
  position: initial;
  width: 100%;
  height: inherit !important;
  background-image: none;
}
#MSearchBox .right { /* Hide the "right-side" doxygen search bar image. */
  display: none;
}
#MSearchSelect { /* Hide the search filtering option. */
  display: none;
}
#MSearchField { /* Override doxygen defaults. */
  display: block;
  position: inherit;
  height: inherit;
  padding: 0em 1em 0em 1em;
  margin: 1em auto 1em auto;
  width: 80%;

  background: var(--search-bg);
  font: inherit;
  font-family: var(--main-font-family);

  border-radius: 13px;

  /* Allow the default "input" element border. */
  border: inherit !important;
}
/* Adjust the search results window to reflect the new search bar position. */
#MSearchResultsWindow {
	position: fixed;
	left: 300px !important;
	margin-top: -6px !important;
	margin-left: 0px !important;
	border: 0px solid var(--leap-green);
	border-radius: 0px;
	background-color: var(--light);
}
#MSearchResults {
  box-shadow: 7px 5px 7px #0000000c;
}
/* Adjust search results text. */
.SRSymbol {
  color: var(--link-color);
  font: inherit;
  font-family: var(--main-font-family), var(--backup-font-family); 
  font-weight: bold;
}
.SRScope {
	font-family: sans-serif;
	color: #6e6e6e;
}
.SRPage {
  background-color: var(--search-bg)
}
.SRPage .SREntry {
	font-size: 12px;
	padding: 2px 5px;
}

/* ==========
 * Navigation
 * ==========
 *
 * Sidebar: Table of contents, navigation, content links, and external links.
 */

/* Align the top of the side-nav bar JUST RIGHT so that it touches the bottom of
 * the page and the project header. */
#side-nav {
  padding: 0px 0px 0px 0px;

  width: var(--sidebar-width);
 }

/* Prevent horizontal scrollbars on the sidebar. */
#nav-tree {
  overflow-x: hidden!important;
  background: var(--navtree-bg);

  /* Make the nav-tree stick out beneath the content page, to hide the vertical
   * scrollbar. */
  width: calc(100% + 30px);
}

/* Hide the resizable handle for the sidebar. */
.ui-resizable-handle.ui-resizable-e {
  display: none !important;
}

/* Hide the "nav-sync" widget in the sidebar. */
#nav-sync {
  display: none !important;
}

/* Enforce text styling on nav-tree items. */
#nav-tree .item {
  font: inherit;
  font-family: var(--main-font-family) !important;
}

/* Make the selected nav-tree item have a flat-color background. */
#nav-tree .selected {
  background-image: none;
  text-shadow: none;
  background-color: var(--leap-green);
}

/* Override navbar items' font and color. */
.label a {
	font-size: 14px;
  font-family: var(--main-font-family);
  color: var(--dark) !important;
}

/* Also ensure the currently-selected navbar link is white. */ 
#nav-tree .selected a {
	color: #fff !important;
}


 /* ============
  * Page Content
  * ============
  *
  * Markdown-generated guide content and auto-generated API documentation HTML.
  */

 body {
   background-color: var(--body-bg);
 }
 #doc-content {
   background-color: var(--body-bg);
 }

 /* resizeoverrides.js initializes an alternative documentation-content
  * container: #doc-content-container, a div that wraps around #doc-content.
  * Resize events are shifted to target the container instead, so we clear flow-
  * related style from #doc-content and apply it to #doc-content-container
  * instead. */
#doc-content {
  height: auto !important;
  margin-left: 0px !important;
  overflow: inherit;

  /* In cases where there isn't much page content, we still want the white
   * area of the page to extend to the bottom of the browser window.
   * (There probably is a better way to do this...) */
  min-height: calc(100% - 84px);
}
#doc-content-container {
  overflow: auto;
  position: relative;
}

 /* With the doc-content now nested inside a container that can span the 
  * page and keep the scroll-bar on the right, we can cap the width of 
  * doc-content itself to make it stick to about a single page's width. */
#doc-content {
  max-width: 60em;
  margin-right: auto;
  padding: 3em 4em 3em 4em;
}

 /* We also want to align the headers and paragraphs along a single line in the
  * main content of the page. */
div.headertitle {
  padding-left: 0px;
}
div.contents {
  margin-left: 0px;
  margin-right: 0px;
}

/* Finally, adjust background colors for the content elements. */
#doc-content-container {
  background-color: var(--body-bg);
}
#doc-content {
  background-color: var(--content-bg);
}
div.header {
  background-color: inherit;
  background-image: none;
}

/* Align .webm video tags for the IE page example scenes. */
.ie-example-video {
	margin: 0 auto;
  width: 400px;
  height: 280px;
	display: block;
}

/* Align .webm video tags for the IE page example scenes. */
.ie-hands-video {
	margin: 0 auto;
  width: 800px;
  height: 450px;
	display: block;
}


/* Remove gradients and various default effects on info boxes in generated
 * docs. */
.memproto, dl.reflist dt {
  background-color: var(--member-header-bg);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
 }
.memdoc, dl.reflist dd {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
 }
.fieldtable th {
  background-color: var(--member-header-bg);
  border-bottom: 1px solid var(--border-color);
}
.fieldtable {
  border: 1px solid var(--border-color) !important;
}
.fieldtable td.fieldtype, .fieldtable td.fieldname {
	white-space: nowrap;
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	vertical-align: top;
}
.fieldtable td.fielddoc {
	border-bottom: 1px solid var(--border-color);
}
.memdoc {
  background-color: var(--content-bg);
}
.memproto {
	border-bottom: var(--border-color);
	border-bottom-style: solid;
	border-bottom-width: thin;
}
.memproto, .fieldtable th {
  color: #000;
  background-image: none!important;
  box-shadow: none!important;
}
.memdoc {
  box-shadow: none!important;
  background-image: none!important;
}
.memproto, dl.reflist dt { text-shadow: none; }
.memitem.glow { box-shadow: none!important; }
table.fieldtable { box-shadow: none!important; }
span.lineno {
  border-right: none!important;
}
h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
  text-shadow: none!important;
}
.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft,
.memTemplItemRight, .memTemplParams {
	background-color: inherit;
}
span.mlabel {
  background-color: var(--leap-green);
  border: none;
}
.memItemRight code {
	padding: 0px;
	padding-right: 0.7em;
}

/* ======
 * Footer
 * ======
 */

 #nav-path {
   /* Hide the footer. */
   display: none;
 }

/*#nav-tree { overflow-x: hidden!important; }
.tabs, .tabs2, .tabs3, #main-nav, .sm-dox {
  background-color:#222!important; background-image:none!important;
}

#sidenav { top:130px }
#projectlogo { padding-left: 20px; padding-right: 14px; padding-top: 13px; }
#projectalign { padding-bottom: 4px; padding-top: 6px; }
#projectname {font: 200% Tahoma, Arial,sans-serif!important;}

.tablist a, .sm-dox a {
  text-shadow: none!important; background-color: #222!important; color: #fff!important;
  background-image:none!important
}

.tablist li.current a,
.sm-dox li.current a {
  background-image: none!important; text-shadow: none!important; background-color: #5daa00!important;
}

#titlearea { background: none; background-color: #222; height: 100px; }
#projectname, #projectbrief { color: #fff; }
#projectnumber { color: #5daa00; }

#searchboxrect {
  z-index: 2; position: absolute; left: 0px; right: 0px; height: 30px;
  background-color: #5daa00;
  border-bottom-width: 1px; border-bottom-style: solid; border-color: #def8c0;
}
#MSearchBox {
  right: initial; position: absolute; left: 0px; top: 106px; width: 250px;
  z-index: 4;
}
#MSearchField { width: 185px; }
#MSearchResultsWindow {left: 5px!important; z-index: 5; }
#nav-sync { display:none!important; }
#nav-tree-contents { margin-top: 30px;  }
#nav-path{ display:none!important; }

#doc-content {
  z-index: 5; position: absolute; background-color: white;
  left: 0px; right: 0px;
}

.ui-resizable-e { background: none!important; background-color: #ddd!important; }
a { color: #5daa00!important; }
#nav-tree .selected {
  background-image: none!important; background-color: #5daa00!important;
  color: #fff!important; text-shadow: none!important;
}
#nav-tree a { color:#000!important; }
#nav-tree .selected a { color:#fff!important }
#side-nav { background-color: #5daa00; width: 240; z-index: -1; }
#nav-tree { background-color: #f2f2f2; background-image: none!important;}
#nav-tree-contents { background-color: #f2f2f2; }
#nav-tree .label { font: inherit; }
#nav-tree .label a { font-family: 'Roboto', sans-serif; }

#nav-tree div.item { padding-left: 10px; }

.tablist a:hover, 
.sm-dox a:hover { background-image:none!important; background-color:#333!important }
pre code {border:none!important}

div#navrow2 {background-color: #2B2B2B!important;}
div#navrow2 .tablist a {background-color: #2B2B2B!important;}
div#navrow2 .tablist a:hover {background-color:#333!important;}
div#navrow2 .tablist li.current a {background-color: #5daa00!important;}
div#navrow3 {background-color: #333!important;}
div#navrow3 .tablist a {background-color: #333!important;}
div#navrow3 .tablist a:hover {background-color:#2B2B2B!important;}
div#navrow3 .tablist li.current a {background-color: #5daa00!important;}
div#navrow4 {background-color: #3C3C3C!important;}
div#navrow4 .tablist a {background-color: #3C3C3C!important;}
div#navrow4 .tablist a:hover {background-color:#333!important;}
div#navrow4 .tablist li.current a {background-color: #5daa00!important;}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {text-shadow: none!important}


*/
